<launch>

    <!--启动ORB-SLAM3 stereo respawn="true" 如果该节点启动不成功会再次尝试启动-->
    <node name ="stereo_odo_node3" pkg="imu_preintegration" type="ros_stereo_odo_node" output="screen"></node>
    <!-- <node name ="rviz" pkg="rviz" type="rviz" args="-d ></node> -->

    <arg name="bag" default="/home/qzj/code/catkin/catkin_vins/src/IMU-Preintegration/dataset/2021-02-02-20-46-12.bag"/>
<!--    <node pkg="rosbag" type="play" name="rosbag" args=" &#45;&#45;clock $(arg bag)"/>-->
        <node pkg="rosbag" type="play" name="rosbag" output="screen" args=" --clock $(arg bag)"/>
</launch>
